.toplinks{
  float: right;
}

.sidebar {
  background-color: #F6F7F7;
  float: left;
  clear: both;
  width: 150px;
}

.sidebar li {
  list-style-type: none;
}

.sidebar li a {
  display: block;
}

.sidebar hr {
  align-items: center;
}

.sidebar img {
  width: 100%;
}

.mainContent {
  float: right;
  width: 80%;
}
